html,
body,
p {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

input {
  font-family: 'Nunito', sans-serif;
}

a {
  cursor: pointer;
  color: inherit !important;
  text-decoration: none !important;
}

* {
  box-sizing: border-box !important;
}

.auth-errors {
  padding: 0.2rem 1rem;
  margin: 0.5rem 0;
  font-weight: 700;
  color: white;
  width: fit-content;
  background-color: red;
  border-radius: 8px;
}

button:disabled {
  cursor: not-allowed;
}
