html,
body,
p {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

input {
  font-family: 'Nunito', sans-serif;
}

a {
  cursor: pointer;
  color: inherit !important;
  text-decoration: none !important;
}

* {
  box-sizing: border-box !important;
}
